- provide(:title, 'ログイン')

#signin_container
  %h1
    %span ログイン
    Sign in
  = simple_form_for :session, url: login_path do |f|
    = f.error_notification
    = f.input :name, label: 'ユーザー名'
    = f.input :password, label: 'パスワード'
    .action
      = f.submit 'ログイン'

    = link_to "ユーザー登録する", new_user_path, class: "back_btn"
