- provide(:title, "#{@user.name}の詳細変更")
- if flash[:alert].present?
  %p= flash[:alert]

= form_for @user do |f|
  .field
    = f.label :image
    = f.file_field :image

  .field
    = f.label :password
    = f.password_field :password

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .actions
    = f.submit
