- provide(:title, "#{user_name(@user)}のプロフィール設定")

#user_edit_container
  %h1
    %span #{user_name(@user)}の詳細変更
    Edit of #{user_name(@user)}
  = simple_form_for @user do |f|
    = f.error_notification
    = f.input :nickname, value: @user.nickname
    .image_field
      = f.input :picture
      = user_image_tag(@user, "preview_img", 80, 80)
    = f.input :address
    = f.input :password
    = f.input :password_confirmation
    .action
      = f.submit "更新する"
    = link_to '戻る', user_path(@user), class: "back_btn"
