- provide(:title, 'Home')
%p#notice= notice

%table
  %thead
    %tr
      %th 氏名
      %th 在室情報
      %th 総入室時間 [時間]
      %th 詳細情報
  %tbody
    - @users.each do |user|
      %tr
        %td
          = image_tag(user.image.retina.to_s, size: '50x50')
          = user.name
          (
          = user.id
          )
        %td= user.status == 1 ? '入室中' : '退室中'
        - total_time = 0
        - Existence.where(user_id: user.id).each do |existence|
          - stay_time = stay_time(existence.enter_time, existence.exit_time)
          - total_time += stay_time.to_i
        %td= total_time
        %td= link_to 'Show', user
