- provide(:title, '出席状況')

#index_container
  %h1
    %span 出席状況
    In attendance
  - if @users.present?
    %ul
      - @users.each_with_index do |user, index|
        .card_container
          .card_elements
            %li.side.front
              = user_image_tag(user, "", 300, 300)
              .user_elements
                %p.name= user_name(user)
                - if user.message.present?
                  %p.message= user.message
                = link_to "javascript:void(0)", class: "show_card", data: {index: index} do
                  Show
                  = icon('fas','arrow-right')
            .user_card.side.back{data: {index: index}}
              %h2
                = user_name(user)
              .user_card_info
                = user_image_tag(user, "", 150, 150)
                .user_card_info_elements
                  .user_card_info_elements_text
                    %p
                      総在室時間 :
                      = user.total_time / 60
                      時間
                    %p
                      卒業まで :
                      = state = (0 > (450 - user.total_time / 60)) ? "Congratulations on your graduation!" : "#{450 - user.total_time / 60} 時間"
                    - if @current_user == user
                      %p
                        プロフィール設定 :
                        = link_to "Edit", edit_user_path(user)
                  - if @current_user == user
                    = link_to '退席する', 'javascript:void(0)', class: "show_more modal_open card_dalete"
                  - else
                    = link_to user_path(user), class: "show_more" do
                      もっとみる
                      = icon('fas','arrow-right')
                = icon('fas', 'times', class: "card_delete_button card_dalete", data: {index: index})
  - else
    %p.any_user_text 現在出席中のユーザーは存在しません。

= render 'modals/leave_modal'
