<% provide(:title, 'Home') %>
<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>在室情報</th>
      <th>総入室時間 [時間]</th>
      <th>詳細情報</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.status == 1 ? '入室中' : '退室中' %></td>
        <td><%= user.total / 60 %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

