- provide(:title, "ユーザー登録")

#signup_container
  %h1
    %span ユーザー登録
    Sign up
  = simple_form_for @user, id: "registration_form", data: { parsley_validate: true, parsley_trigger: "keyup focusout change input" } do |f|
    = f.error_notification
    = f.input :name, label: 'ユーザー名', required: true
    = f.input :nickname, label: 'ニックネーム'
    = f.input :address, label: '端末アドレス', required: true, pattern: "[0-9A-F]\{2\}\(:[0-9A-F]\{2\}\)\{5\}", data: { parsley_pattern: "[0-9A-F]\{2\}\(:[0-9A-F]\{2\}\)\{5\}" }
    = f.input :password, label: 'パスワード'
    = f.input :password_confirmation, label: 'パスワード（確認）', required: true
    .action
      = f.submit '登録する'

    = link_to 'ログインページに戻る', login_path, class: "back_btn"
