- provide(:title, 'ランキング')

#ranking_container
  %h1
    %span 在室ランキング
    Ranking of Attendance
  %ul
    - @users.each_with_index do |user, index|
      %li
        .user_image
          %span= index + 1
          = user_image_tag(user, "", 100, 100)
        .user_items
          %p.name= user_name(user)
          .user_status
            %p
              ステータス：
              = user.status? ? '出席中' : '退席中'
            %p
              総在室時間：
              #{user.total_time} 時間
          = link_to user_path(user), class: "show_more" do
            もっとみる
            = icon('fas','arrow-right')
