<p id="notice"><%= notice %></p>
<%= ENV['LAB_IP_ADDRESS'] %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Total:</strong>
  <%= @user.total %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
