<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>在室状況:</strong>
  <%= @user.status ? '在室中' : '退室中' %>
</p>

<p>
  <strong>総入室時間:</strong>
  <%= @user.total.to_i / 60 %>
</p>

<p>
  <strong>卒業まで:</strong>
  <%= ( 500 - @user.total.to_i / 60 ) / 60 %>日
</p>

<p>
  <strong>過去30日の入室履歴:</strong>
<table>
  <thead>
  <tr>
    <th>入室日</th>
    <th>入室時間</th>
    <th>退室時間</th>
    <th>在室時間</th>
  </tr>
  </thead>

  <tbody>
  <% @user.existences.each do |existence| %>
    <tr>
      <td><%= existence.enter_time.strftime("%Y年%m月%d日") %></td>
      <td><%= existence.enter_time.strftime("%H:%M") %></td>
      <td><%= datetime_encorder(existence.exit_time) %></td>
      <td><%= stay_time(existence.enter_time, existence.exit_time) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Back', users_path %>
