<p id="notice"><%= notice %></p>
<%= ENV['LAB_IP_ADDRESS'] %>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>在室状況:</strong>
  <%= @user.status ? '在室中' : '退室中' %>
</p>

<p>
  <strong>総入室時間:</strong>
  <%= @user.total / 60 %>
</p>

<p>
  <strong>卒業まで:</strong>
  <%= 500 - @user.total / 60 %>
</p>

<p>
  <strong>過去30日の入室履歴:</strong>
<table>
  <thead>
  <tr>
    <th>入室日</th>
    <th>入室時間</th>
    <th>退室時間</th>
    <th>在室時間</th>
  </tr>
  </thead>

  <tbody>
  <% @user.existences.each do |existetnce| %>
    <tr>
      <td><%= existetnce.enter_time.strftime("%Y年%m月%d日") %></td>
      <td><%= existetnce.enter_time.strftime("%H時%M分") %></td>
      <td><%= datetime_encorder existetnce.exit_time %></td>
      <td><%= existetnce.stay_time / 60 %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Back', users_path %>
