<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status ? '在籍中' : '退室中' %>
</p>

<p>
  <strong>Total:</strong>
  <%= @user.total%>
</p>

<p>
  <strong>卒業まで:</strong>
  <%= 500 - @user.total %>
</p>

<%= link_to 'Back', users_path %>
