- provide(:title, 'メンバーリスト')

#members_container
  %h1
    %span メンバーリスト
    Members list
  %ul
    - @users.each do |user|
      %li
        .user_image
          = user_image_tag(user, "", 100, 100)
        .user_items
          %p.name= user_name(user)
          .user_status
            %p.status
              ステータス：
              = user.status? ? '出席中' : '退席中'
            %p.total_time
              総在室時間：
              #{user.total_time / 60} 時間
          = link_to user_path(user), class: "show_more" do
            もっとみる
            = icon('fas','arrow-right')
