- provide(:title, '在籍情報の変更')

#existence_edit_container
  %h1
    %span 出席情報の編集
    Edit of attendance

  = simple_form_for @existence, url: { action: 'update' } do |f|
    = f.error_notification
    .field
      = f.label "出席時間"
      = f.time_field :enter_time
    .field
      = f.label "退席時間"
      = f.time_field :exit_time
    .action
      = f.submit '更新する'

    = link_to 'ユーザー情報に戻る', user_path(@existence.user_id), class: "back_btn"
