%header
  - if @current_user.present?
    - if from_pc?
      %nav#header_elements_pc
        .left_elements
          = link_to "出席状況", root_path
          = link_to "ランキング", ranking_path
          = link_to "メンバーリスト", member_path
        .right_elements
          = link_to "ログアウト", logout_path, method: :delete
          = link_to user_path(@current_user) do
            = user_name(@current_user)
            = user_image_tag(@current_user, '', 30, 30)
    - else
      = icon('fas', 'bars', id: 'menu_opener')
