<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 藤原研入退室情報</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <header class="nav nav-wapper">
    <nav>
      <%= link_to "出席状況", root_path %>
      <%= link_to "ランキング", ranking_path%>
      <%= link_to "メンバーリスト", member_path%>
      <%= link_to "ログアウト", logout_path, method: :delete %>
      <%= link_to user_path(@current_user) do %>
        <%= user_name(@current_user) %>
        <%= user_image_tag(@current_user, '', 30, 30) %>
      <% end %>
    </nav>
  </header>
  <div class="container">
  <%= yield %>
  </div>
  </body>
</html>


<style>
  th{

  }
</style>
